@charset "ISO-8859-1";

body{
    background: #E6E0DF;
}

/* section[id='header']{
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url([[@{/styles/images/woodgrain.jpg}]]);
    border-bottom: 1px solid black;
} */

.form-container{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    position: relative;
}

.card{
    height: 100%;
}

.card-img-top{  
   height: 300px;
   width: 100%; 
}