<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>My Little Bookstore</title>
<link th:rel="stylesheet" th:href="@{/styles/css/updateBook.css}" />
<link th:rel="stylesheet"
	th:href="@{/styles/assets/bootstrap/css/bootstrap.min.css} " />
</head>
<body>

	<nav class="navbar bg-dark navbar-dark">
		<div class="container">
			<a href="" class="navbar-brand">My Little BookStore</a>
		</div>
	</nav>

	<section class="container-fluid">
		<section class="row justify-content-center">
			<section class="col-12 col-sm-6 col-md-3">
				<form class="form-container" action="updateBook" method="post">
					<div class="form-group">
						<label for="bookid">Book Id: </label> <input id="bookid"
							type="text" name="bookid" th:value="${book.bookid}" readonly />
					</div>
					<div class="form-group">
						<label for="bookname">Book Name: </label> <input id="bookname"
							type="text" name="bookname" th:value="${book.bookname}" />
					</div>
					<div class="form-group">
						<label for="bookauthor">Book Author: </label> <input
							id="bookauthor" type="text" name="bookauthor"
							th:value="${book.bookauthor}" />
					</div>
					<div class="form-group">
						<label for="bookpurchasedate">Book Purchase Date: </label> <input
							id="bookpurchasedate" type="text" name="bookpurchasedate"
							th:value="${book.bookpurchasedate}" /> <input type="submit"
							value="save" />
					</div>
				</form>
			</section>
		</section>
	</section>

	<script th:src="@{/styles/assets/jquery/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/styles/assets/popper/popper.min.js}"></script>
	<script th:src="@{/styles/assets/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>