<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>My Little Bookstore</title>
<link th:rel="stylesheet" th:href="@{/styles/css/updateBook.css}" />
<link th:rel="stylesheet"
	th:href="@{/styles/assets/bootstrap/css/bootstrap.min.css} " />
</head>
<body>
	<div class="post">
		<p class="date">August 23 2021</p>
		<h2>Book Entry</h2>
		<form action="updateBook" method="post">
			<pre>
		<label for="bookid">Book Id: </label>
		<input id="bookid" type="text" name="bookid" th:value="${book.bookid}"
					readonly /> 
		<label for="bookname">Book Name: </label>
		<input id="bookname" type="text" name="bookname"
					th:value="${book.bookname}" /> 
		<label for="bookauthor">Book Author: </label>
		<input id="bookauthor" type="text" name="bookauthor"
					th:value="${book.bookauthor}" />
		<label for="bookpurchasedate">Book Purchase Date: </label>
		<input id="bookpurchasedate" type="text" name="bookpurchasedate"
					th:value="${book.bookpurchasedate}" />
		<input type="submit" value="save" />
	</pre>
		</form>
	</div>

	<script th:src="@{/styles/assets/jquery/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/styles/assets/popper/popper.min.js}"></script>
	<script th:src="@{/styles/assets/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>